<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spaceships List</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<h1>Spaceships List</h1>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Model</th>
        <th>Details</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Assign Player</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="spaceship : ${spaceships}">
        <td th:text="${spaceship.name}"></td>
        <td th:text="${spaceship.model.name}"></td>
        <td><a th:href="@{/spaceship/detail/{id}(id=${spaceship.id})}">View Details</a></td>
        <td><a th:href="@{/spaceship/edit-form/{id}(id=${spaceship.id})}">Edit</a></td>
        <td><a th:href="@{/spaceship/delete/{id}(id=${spaceship.id})}" onclick="return confirm('Are you sure?')">Delete</a></td>
        <td><a th:href="@{/spaceship/assign-player/{spaceshipId}(spaceshipId=${spaceship.id})}">Assign Player</a></td>
    </tr>
    </tbody>
</table>
<a th:href="@{/spaceship/edit-form/0}">Add New Spaceship</a>
</body>
</html>