<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${spaceship.id != null} ? 'Edit Spaceship' : 'Add New Spaceship'"></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<h1 th:text="${spaceship.id != null} ? 'Edit Spaceship' : 'Add New Spaceship'"></h1>
<form th:action="@{/spaceship/save}" th:object="${spaceship}" method="post">
    <input type="hidden" th:field="*{id}">
    <div>
        <label for="name">Name</label>
        <input type="text" th:field="*{name}" id="name" required>
    </div>
    <div>
        <label for="model">Model</label>
        <select id="model" th:field="*{model.id}">
            <option value="" th:unless="${models}" th:text="Select Model">Select Model</option>
            <option th:each="model : ${models}" th:value="${model.id}" th:text="${model.name}">Model Name</option>
        </select>
    </div>

    <div>
        <label for="credit">Credit</label>
        <input type="number" step="0.01" th:field="*{credit}" id="credit" required>
    </div>
    <button type="submit">Save</button>
</form>
<a th:href="@{/spaceship/list}">Cancel</a>
</body>
</html>
