<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Star Detail</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<h1>Star Detail</h1>

<p th:text="|Name: ${star.name}|"></p>

<p th:text="|Coordinates: X=${star.x}, Y=${star.y}, Z=${star.z}|"></p>

<p th:text="|Inhabited: ${(star.inhabited) ? 'Yes' : 'No'}|"></p>

<h2>Planets</h2>
<ul>
    <li th:each="planet : ${star.planets}" th:text="${planet.name}"></li>
</ul>

<a th:href="@{/star/list}">Back to List</a>
</body>
</html>
