<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Planet to Star</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<h1>Add Planet to <span th:text="${star.name}"></span></h1>
<form th:action="@{/star/add-planet/{starId}(starId=${star.id})}" th:object="${planet}" method="post">
    <div>
        <label for="planetName">Planet Name</label>
        <input type="text" th:field="*{name}" id="planetName" required>
    </div>
    <button type="submit">Add Planet</button>
</form>

<a th:href="@{/star/detail/{id}(id=${star.id})}">Back to Star Detail</a>
</body>
</html>
